.list {
  color: #93B7CC;
  font-size: 33px;
  font-weight: 700;
  text-align: center;

  li {
    margin: 10px 0;
  }

  a {
    color: inherit;
    text-decoration: none;
    &:hover {
      color: #267DBD;
    }
  }
}