@import '../scss/variables';

body {
  background-color: $background;
}

.screen {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-header {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;

  &__back {
    cursor: pointer;
    padding: 8px;
    position: absolute;
    path {
      fill: $primaryFill;
    }
    &:active {
      path { fill: $secondaryFill }
    }
  }
}