body {
  background-color: #132434;
}

.screen {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-header {
  position: fixed;
  top: 0;
  background: yellow;
  width: 100%;
  left: 0;
}