@import '../../scss/colors';

$fontSize: 18px;

.city-info {
  display: flex;
  align-items: center;

  &__etc {
    font-size: $fontSize;
    color: $primaryFill;

    i {
      color: $secondaryFill;
    }
  }

  &__temp.icon-item {
    margin-bottom: 12px;

    i {
      font-size: $fontSize * 1.6;
      width: $fontSize * 2;
      margin-right: $fontSize * .1;
    }
    span {
      font-size: $fontSize * 1.2;
    }
  }


  &__clock {
    .num-text {
      &__number {
        color: $secondaryText;
        font-size: $fontSize * 2.5;
        line-height: .9em;
        font-weight: 300;
      }
      &__text {
        margin-top: .2em;
        font-size: $fontSize * 1.4;
        color: $primaryText;
        font-weight: 700;
        letter-spacing: .02em;
      }
    }
  }


}