@import '../../scss/variables';

$fontSize: 18px;

.city-info {
  display: flex;
  align-items: center;
  width: 50vw;
  justify-content: space-between;
  max-width: 600px;
  margin-top: 3vh;

  @media #{$mobile} {
    flex-direction: column;
    height: 65vh;
    min-height: 330px;
    justify-content: flex-end;
  }

  &__etc {
    font-size: $fontSize;
    color: $primaryFill;

    i {
      color: $secondaryFill;
    }
  }

  &__temp.icon-item {
    margin-bottom: 12px;

    i {
      font-size: $fontSize * 1.6;
      width: $fontSize * 1.2;
      margin-right: $fontSize * .1;
    }
    span {
      font-size: $fontSize * 1.2;
    }
  }


  &__clock {
    .num-text {
      &__number {
        color: $secondaryText;
        font-size: $fontSize * 2.5;
        line-height: .9em;
        font-weight: 300;
      }
      &__text {
        margin-top: .2em;
        font-size: $fontSize * 1.4;
        color: $primaryText;
        font-weight: 700;
        letter-spacing: .02em;
      }
    }

    @media #{$mobile} {
      order: -1;
      margin-bottom: auto;
    }
  }

  &__indicator {
    i {
      font-size: $fontSize * 3;
      color: $primaryFill;
    }
    span {
      color: $primaryText;
      font-size: $fontSize * .8;
      margin-top: .5em;
    }
    @media #{$mobile} {
      margin-bottom: $fontSize;
    }
  }


}